
main, nav{
    max-width: 60%;
    margin: auto;
}



/* --------------------HEADER------------------*/

header ul, li, a{
    color: white;
    text-decoration: none;
    display: inline-block;
}

header{
    padding: 1%;
    background-color: #222222;
}



/* --------------------HEADER------------------*/



/* --------------------MAIN------------------*/


/* --------------------MAIN------------------*/


/* --------------------FOOTER------------------*/


/* --------------------FOOTER------------------*/
