
main, nav{
    max-width: 60%;
    margin: auto;
}



/* --------------------HEADER------------------*/

header ul, li, a{
    color: white;
    text-decoration: none;
    display: inline-block;
    line-height: 3;

}

header ul {
    width: 54%;
margin-left: 4%;
}

header li {
    font-size: 0.8em;
    margin-right: 4%;
}

header{
    margin-bottom: 5%;
    background-color: #222222;
}



/* --------------------HEADER------------------*/



/* --------------------MAIN------------------*/

h1 , h2 {

    display: inline;
    
}

h1 {
    font-size: 2em;
    width: 54%;

}

h2 {
    text-align: center;

}
/* --------------------MAIN------------------*/


/* --------------------FOOTER------------------*/


/* --------------------FOOTER------------------*/
